<html>
    <head>
        <h1>Articles</h1>
    </head>
    <body>
        <form method="POST" action="/articles">
            <label for="title">Title: <input type="text" name="title"></label>
            <label for="content">Content: <input type="text" name="content"></label>
            <input type="submit" value="submit">
        </form> 
    </body>
</html>